# Kube-Auto-Puller

![Version: {{ .Version }}](https://img.shields.io/badge/Version-{{ .Version | replace "-" "--" }}-informational?style=for-the-badge)
{{ if .Type }}![Type: {{ .Type }}](https://img.shields.io/badge/Type-{{ .Type }}-informational?style=for-the-badge) {{ end }}
{{ if .AppVersion }}![AppVersion: {{ .AppVersion }}](https://img.shields.io/badge/AppVersion-{{ .AppVersion | replace "-" "--" }}-informational?style=for-the-badge) {{ end }}
[![Artifact Hub Explorium](https://img.shields.io/endpoint?url=https://artifact-hub.int.explorium.ninja/badge/repository/kube-auto-puller)](https://artifact-hub.int.explorium.ninja/packages/search?repo=kube-auto-puller)
## Description

{{ template "chart.description" . }}

## Usage
WIP

{{ template "chart.valuesSection" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.maintainersSection" . }}
